@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

:root {
    --background-color: #f0f0f0;
    --background-color2: #5cbe9e;
    --text-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

header {
    background-color: var(--background-color2);
    color: var(--text-color);
    padding: 20px;  
}


footer {
    background-color: var(--background-color2);
    color: var(--text-color);
    padding: 20px;
}
